MuzWork/index.jade
doctype html
html
	head
		meta(charset="utf-8")
		title="MuzWork"
		script(src="js/index.js")
		link(rel="stylesheet" href="css/styles.css")
	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			div.container-fluid
				a.navbar-brand(href='#')
					img.logo(src="img/logo.png" alt="Brand")
				button.navbar-toggle.logo-media-object(type="button" data-toggle="collapse" data-target="#navi")
					span.sr-only Toggle navigation
					- var i=0
					- for (;i<3;i++)
						span.icon-bar
				div.collapse.navbar-collapse#navi
					ul.nav.navbar-nav
						- var menuRef = ["Перечень услуг", "Наши музыканты", "Концерты", "О нас"]
						- each item in menuRef
							li
								a(href="#")= item
					p.navbar-text.navbar-right +7-(999)-440-85-65
		div.container-fluid.content
			div.requisition.col-md-2
				h4 Примем вашу заявку
				form(role="form")
					div.form-group
					label(for="email") Email
					input.form-control#email(type="text" placeholder="example@yandex.ru")
					div.form-group
					label(for="phone") Телефон
					input.form-control#phone(type="tel" placeholder="+7-(923)-123-12-23")
					div.form-group
					label(for="name") Имя
					input.form-control#name(type="text" placeholder="Имя")
			div.col-md-8.content2
			div.col-md-2.content3 Youtube, instagram, VK

MuzWork/index.html
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MuzWork</title>
		<link rel="stylesheet/less" type="text/css" href="css/styles.less" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/less.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/menu-down.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
					<a href="#" class="navbar-brand"><img src="http://localhost:8080\images\logo.png" alt="Brand" class="logo media-object"></a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi">
						 <span class="sr-only">Toggle navigation</span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
          			</button>
				<div class="collapse navbar-collapse" id="navi">
						<ul class="nav navbar-nav">
							<li><a href="#">Перечень услуг</a></li>
							<li><a href="#">Наши музыканты</a></li>
							<li><a href="#">Концерты</a></li>
							<li><a href="#">О нас</a></li>
						</ul>
						<p class="navbar-text navbar-right">+7-(999)-440-85-65</p>
				</div>
				
				</div>
			</nav>
			<div class="container-fluid content">
				<div class="requisition col-md-2">
					<h4>Примем вашу заявку</h4>
					<form role="form">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" id="email"placeholder="example@yandex.ru">
						</div>
						<div class="form-group">
							<label for="phone">Телефон</label>
							<input type="text" class="form-control" id="phone"placeholder="Номер телефона">
						</div>
						<div class="form-group">
							<label for="name">Имя</label>
							<input type="text" class="form-control" id="name"placeholder="Имя">
						</div>
					</form>
				</div>
				<div class="col-md-8 content2"></div>
				<div class="col-md-2 content3">Ссылки toutube, instagram, vk</div>
			</div>
	</body>
</html>
